:root {
	--primary-color: #3a7bd5;
	--secondary-color: #ffffff;
	--background-color: #35424a;
	--highlight-color: #e84855;
	--spacing: 16px;
	--border-radius: 8px;
	--color-dark: #2c3e50;
	--color-light: #ecf0f1;
	--shadow-color: rgba(0, 0, 0, 0.5);
	--overlay-background: rgba(0, 0, 0, 0.7);
	--image-hover-color: rgba(44, 62, 80, 0.7);
}

* {
	box-sizing: border-box;
	transition: all 0.3s ease;
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background-color: var(--background-color);
	color: var(--secondary-color);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: var(--primary-color);
}

.logo {
	width: 80px;
	transition: transform 0.5s;
}

.logo:hover {
	transform: rotate(360deg);
}

#photographer-name {
	color: var(--secondary-color);
	font-size: 2rem;
	font-weight: 700;
}

.media-gallery {
	padding: 20px;
}

.sort-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.dropdown {
	border: none;
	outline: none;
	padding: 10px;
	background: var(--background-color);
	color: var(--secondary-color);
	border-radius: 5px;
	font-size: 1rem;
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.photo-item {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.photo {
	width: 100%;
	height: 100%;
	transform: scale(1);
	transition: transform 0.3s;
	object-fit: cover;
}

.photo-item:hover .photo {
	transform: scale(1.1);
}

.photo-likes-container {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;

	color: var(--background-color);
	padding: 5px 10px;
	border-radius: 20px;
	transform: scale(1);
	transition: transform 0.3s;
}

.photo-item:hover .photo-likes-container {
	transform: scale(1.2);
}

.like-icon {
	margin-right: 5px;
	font-size: 1rem;
	color: #e84855;
	animation: pulse 1s infinite;
}
.photo-details {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
	transform: translateY(100%);
	transition: transform 0.3s;
}

.photo-item:hover .photo-details {
	transform: translateY(0);
}

.photo-title,
.photo-price {
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

.photo-item:hover .lightbox-trigger {
	display: inline-block;
	background: var(--highlight-color);
	transform: translate(-50%, -50%) scale(1.1);
}

/* Lightbox Styles */

.lightbox-trigger {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	display: none;
	padding: 10px 20px;
	color: var(--color-light);
	background: var(--color-dark);
	border-radius: 20px;
	text-decoration: none;
	transition: background 0.3s, transform 0.3s;
	box-shadow: 0px 10px 30px -5px var(--shadow-color);
}

.lightbox {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--overlay-background);
	z-index: 1000;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease-in-out;
}

.lightbox-content {
	position: relative;
	width: 80vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: var(--spacing);
	background-color: var(--color-light);
	border-radius: var(--border-radius);
	box-shadow: 0 0 20px var(--shadow-color);
	transition: transform 0.3s ease-in-out;
	overflow: auto;
	border: none;
}

.lightbox img {
	width: 100%;
	max-height: 70vh;
	object-fit: cover;
	border-radius: 0;
	transition: all 0.5s ease-in-out;
}
.lightbox img:hover {
	filter: brightness(80%) contrast(110%) saturate(150%) hue-rotate(45deg);
}

.lightbox-title {
	font-size: 2.5rem;
	color: var(--color-dark);
	margin-top: var(--spacing);
	text-align: center;
	font-weight: 500;
}

.lightbox-close,
.lightbox-previous,
.lightbox-next {
	position: absolute;
	font-size: 2.5rem;
	color: var(--color-light);
	background-color: var(--color-dark);
	cursor: pointer;
	border: none;
	padding: 0.5rem;
	border-radius: 50%;
	box-shadow: 0px 10px 30px -5px var(--shadow-color);
	transition: all 0.5s;
}

.lightbox-close:hover,
.lightbox-previous:hover,
.lightbox-next:hover {
	transform: scale(1.1);
	background-color: #ff6347;
	color: var(--color-dark);
}

.lightbox-close {
	top: 10px;
	right: 10px;
}

.lightbox-previous {
	top: 50%;
	left: 10px;
}

.lightbox-next {
	top: 50%;
	right: 10px;
}
