:root {
	--primary-color: #101726;
	--secondary-color: #ffffff;
	--tertiary-color: #97999c;
	--quaternary-color: #6b6b6b;
	--text-color: #901c1c;
	--text-color-secondary: #d3573c;
	--placeholder-color: #999999;
	--border-color: #e5e5e5;
	--background-color: #fafafa;
	--spacing: 2rem;
	--border-radius: 5px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
}

.header {
	background-color: var(--primary-color);
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.logo {
	max-width: 150px;
}

.photographer_section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: var(--spacing);
	margin: var(--spacing) auto;
	padding: var(--spacing);
}

.gallery-item {
	text-align: center;
}

.item-link {
	text-decoration: none;
}

.item-portrait {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	margin: 1rem auto;
}

.item-title {
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--text-color-secondary);
}

.item-city {
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--text-color);
}

.item-tagline {
	font-size: 0.8rem;
	font-weight: bold;
	color: black;
}

.photo-price {
	margin: 0.5rem auto;
	font-size: 1rem;
}

#contact-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.submit-btn,
.close-btn {
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: var(--border-radius);
	padding: 10px 20px;
	text-decoration: none;
	cursor: pointer;
	transition: background 0.3s ease;
}

.submit-btn:hover,
.close-btn:hover {
	background-color: darken(var(--primary-color), 10%);
}
