:root {
	--primary-color: #101726;
	--secondary-color: #ffffff;
	--text-color: #901c1c;
	--text-color-secondary: #d3573c;
	--breakpoint-tablet: 768px;
	--breakpoint-mobile: 480px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.logo {
	width: 100%;
	max-width: 150px;
}

.photographer_section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	margin: 2rem auto;
	padding: 2rem;
}

@media screen and (max-width: var(--breakpoint-tablet)) {
	.photographer_section {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: var(--breakpoint-mobile)) {
	.photographer_section {
		grid-template-columns: 1fr;
	}
}

.gallery-item,
.item-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	border: 1px solid var(--text-color-secondary);
	border-radius: 10px;
	padding: 10px;
	transition: transform 0.3s ease;
}

.gallery-item:hover,
.item-link:hover {
	transform: scale(1.05);
}

.item-portrait {
	width: 100%;
	max-width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 50%;
	margin: 1rem auto;
}

.item-title {
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--text-color-secondary);
}

.item-city {
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--text-color);
}

.item-tagline {
	font-size: 0.8rem;
	font-weight: bold;
	color: var(--secondary-color);
}

.photo-price {
	margin: 0.5rem auto;
	font-size: 1rem;
}
